@font-face {
	font-family: 'Montserrat';
	src : url('fonts/Montserrat-Black.ttf') format('woff2');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src : url('fonts/Montserrat-Medium.ttf') format('woff2');
	font-weight: medium;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat';
	src : url('fonts/Montserrat-Bold.ttf') format('woff2');
	font-weight: bold;
	font-style: normal;
}
